@charset "UTF-8";

body {
   background-image: linear-gradient(to , rgb(58, 58, 58),grey); 
}
main{
    background-color: rgb(124, 124, 124);
    width: 1000px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(82, 82, 82, 0.486);
    margin: auto;
    padding: 10px;
    height: 1000px;
}
h1{
    color: rgb(5, 194, 194);
    position: center;
}
p {
    color: rgb(1, 148, 148);
}