@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BFBBB4, #D9D6D0);
}

main {
    background-color: #F2EFE9;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(82, 82, 82, 0.486);
    width: 1000px;
    margin: auto;
    padding: 10px;
    height: 850px;
}

h1 { 
 .yatra-one-regular {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}


}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    color: hsla(0, 0%, 5%, 0.911);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.356);
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    color: hsla(0, 0%, 5%, 0.911);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.356);
}

p {
    font-family: "Playfair Display";
    color: #081c2e;
    font-style: normal;
    font-size: 18px;
    text-shadow: 0px 0px 1px black;
}

a {
    color: #144775; 
}